body {
  font-size: 1em;
  line-height: 1.5em;
  margin: 2em auto;
  max-width: 35em;
  padding-bottom: 50px;
}

.text-gray-500 {
  color: rgba(107, 114, 128, 1);
}

main {
  margin-top: 2em;
}

nav {
  justify-content: center;
  text-align: center;
  text-transform: lowercase;
  display: flex;
  gap: 3rem;
}

.foot-this {
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.quotation {
  margin-left: 2em;
  text-transform:uppercase;
}

.no-bullets {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

div.indent {
  text-indent: 1em;
}

h3 {
  margin-top: 2em;
}

hr {
  height: 2px;
  color: gray;
  background-color: gray;
  border-width: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
}

.about-information {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
}

.ascii-symbol {
  line-height: 1;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol2 {
  line-height: 1;
  top: 28.5%;
  left: 53%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol3 {
  line-height: 1;
  top: 29%;
  left: 47.5%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol4 {
  line-height: 1;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol5 {
  line-height: 1;
  top: 3.3%;
  left: 49.3%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  font-size: 0.6em;
  pointer-events: none;
}
