<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="about-wrapper">
    <pre class="ascii-symbol5">
       __
      /\-\
     _||"|_
    ~^~^~^~^
    </pre>
        <pre class="ascii-symbol-fire">
             .
              )
             ((
             ) \
            ( , )

    </pre>
    <div class="home-nav-bar">
    {% include "partials/navbar.njk" %}
    </div>

    <main>{{ content | safe}}</main>

  </body>
</html>
