<!DOCTYPE html>
<html>
  <head>
      <title>lichen rocks</title>
      <link rel="stylesheet" href="/css/styles.css">
      <meta property="og:type" content="website" />
      <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="32x32">
  </head>

  <body style="margin-top: 4em;">
    <div id="page-container">
    <div id="content-wrap">
    <main>{{ content | safe}}</main>




  </div>


  </div>



  </body>
</html>
