<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <pre class="ascii-symbol5">
       __
      /\-\
     _||"|_
    ~^~^~^~^
    </pre>
    {% include "partials/navbar.njk" %}
    <h1 style="font-weight: normal"> {{ title }} </h1>
    <p><span style="text-transform:uppercase">By {{ author }}</span></p>
      {% if page.date %}
        <i class="post-date">{{ page.date | readableDate }}</i>
      {% else %}
        <i>No date available</i>
      {% endif %}
    <main>{{ content | safe}}</main>

  </body>
</html>
