<!DOCTYPE html>
<html lang="en" data-theme="{% if theme %}{{ theme }}{% else %}light{% endif %}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Besley.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css" />
    {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Space+Grotesk:wght@300..700&family=Waiting+for+the+Sunrise&display=swap" rel="stylesheet' %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">

    <script>
      (function() {
          const savedTheme = localStorage.getItem("theme");
          if (savedTheme) {
              document.documentElement.setAttribute("data-theme", savedTheme);
          } else {
              const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
              document.documentElement.setAttribute("data-theme", prefersDark ? "dark" : "light");
          }
      })();
    </script>

  </head>
  <body>
    <div id="page-container">
      <div class="content-wrapper">
           <nav>{% include "partials/navbar.njk" %}</nav>
           <main>{{ content | safe }}</main>




           <button id="theme-toggle">Toggle Dark Mode</button>
           <script src="/files/theme-toggle.js"></script>
           <span>work in progress</span>
      </div>
      <footer>{% include "partials/footer.njk" %}</footer>
    </div>
  </body>
</html>
