@font-face {
  font-family: Doto;
  src: url('/fonts/Doto-Regular.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Marauder Text;
  src: url('/fonts/Marauder-Display-Regular.ttf') format("truetype");
  font-display: swap;
}

#name {
	font-size: 1em;
	line-height: 1.5em;
  margin-left: 12.5%;
  margin-top: 25em;
  padding-bottom: 50px;
  font-family: Doto;
}

body {
  font-family: Marauder Text;
}

.home-nav-bar {
   text-align: center;
   margin-top: 30px;
}

.writing-body {
  margin: 2em auto;
  max-width: 35em;
}

.home {
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 80vh;
  gap: 8rem;
  padding: 2rem;
}

.left {
  flex: 1;
  text-align: left;
  font-family: Doto;
}

.right {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.home-image {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.bottom-nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 6rem;
  row-gap: 1rem;

  justify-content: end;
}

.bottom-nav a:nth-child(4) {
  grid-column: 1;
}

.text-gray-500 {
  color: rgba(107, 114, 128, 1);
}

@media (max-width: 900px) {
  .home {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }

  .left {
    text-align: center;
  }

  .bottom-nav {
    gap: 2rem;
  }
}

.book-item {
  display: grid;
  grid-template-columns: auto 220px 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.book-title {
  text-align: center;
  line-height: 1.3;
}

.book-title a,
.book-author {
  display: block;
}

.book-author,
.book-date {
  font-size: 0.9rem;
}

.book-cover {
  width: 160px;
  height: 220px;
  object-fit: cover;
  border-radius: 4px;

  /* Responsive scaling */
  max-width: 100%;
}

main {
  margin-top: 2em;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#foot-this {
  position: absolute;
  margin-top: 2em;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: #f8f8f8;
}

.quotation {
  margin-left: 2em;
  text-transform:uppercase;
}

.no-bullets {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

div.indent {
  text-indent: 1em;
}

h3 {
  margin-top: 2em;
}

hr {
  height: 2px;
  color: gray;
  background-color: gray;
  border-width: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
}

.about-information {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
}

.post-date {
  display: inline-block;
  margin-bottom: 12px;
}

.ascii-symbol {
  line-height: 1;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol2 {
  line-height: 1;
  top: 28.5%;
  left: 53%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol3 {
  line-height: 1;
  top: 29%;
  left: 47.5%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol4 {
  line-height: 1;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol5 {
  line-height: 1;
  top: 3.3%;
  left: 49.3%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  font-size: 0.6em;
  pointer-events: none;
}

.ascii-symbol6 {
  line-height: 1;
  margin: 2;
  font-size: 1em;
  pointer-events: none;
  text-align: center;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

td, th {
  text-align: left;
  padding: 7px;
}

.table-wrap {
  width: 70vw;
  position: relative;
  left: 40%;
  margin-left: calc(-50vw + 50%);
}

th {
  border-bottom: 1px solid #ddd;
}

tr:nth-child(2n+2) {
  background-color: #D6EEEE;
}
@font-face {
  font-family: Doto;
  src: url('/fonts/Doto-Regular.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Marauder Text;
  src: url('/fonts/Marauder-Display-Regular.ttf') format("truetype");
  font-display: swap;
}

#name {
	font-size: 1em;
	line-height: 1.5em;
  margin-left: 12.5%;
  margin-top: 25em;
  padding-bottom: 50px;
  font-family: Doto;
}

body {
  font-family: Marauder Text;
}

.home-nav-bar {
   text-align: center;
   margin-top: 30px;
}

.writing-body {
  margin: 2em auto;
  max-width: 35em;
}

.home {
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 80vh;
  gap: 8rem;
  padding: 2rem;
}

.left {
  flex: 1;
  text-align: left;
  font-family: Doto;
}

.right {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.home-image {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.bottom-nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 6rem;
  row-gap: 1rem;

  justify-content: end;
}

.bottom-nav a:nth-child(4) {
  grid-column: 1;
}

.text-gray-500 {
  color: rgba(107, 114, 128, 1);
}

@media (max-width: 900px) {
  .home {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }

  .left {
    text-align: center;
  }

  .bottom-nav {
    gap: 2rem;
  }
}

.book-item {
  display: grid;
  grid-template-columns: auto 220px 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.book-title {
  text-align: center;
  line-height: 1.3;
}

.book-title a,
.book-author {
  display: block;
}

.book-author,
.book-date {
  font-size: 0.9rem;
}

.book-cover {
  width: 160px;
  height: 220px;
  object-fit: cover;
  border-radius: 4px;

  /* Responsive scaling */
  max-width: 100%;
}

main {
  margin-top: 2em;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#foot-this {
  position: absolute;
  margin-top: 2em;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: #f8f8f8;
}

.quotation {
  margin-left: 2em;
  text-transform:uppercase;
}

.no-bullets {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

div.indent {
  text-indent: 1em;
}

h3 {
  margin-top: 2em;
}

hr {
  height: 2px;
  color: gray;
  background-color: gray;
  border-width: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
}

.about-information {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
}

.post-date {
  display: inline-block;
  margin-bottom: 12px;
}

.ascii-symbol {
  line-height: 1;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol2 {
  line-height: 1;
  top: 28.5%;
  left: 53%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol3 {
  line-height: 1;
  top: 29%;
  left: 47.5%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol4 {
  line-height: 1;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol5 {
  line-height: 1;
  top: 3.3%;
  left: 49.3%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  font-size: 0.6em;
  pointer-events: none;
}

.ascii-symbol6 {
  line-height: 1;
  margin: 2;
  font-size: 1em;
  pointer-events: none;
  text-align: center;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

td, th {
  text-align: left;
  padding: 7px;
}

.table-wrap {
  width: 70vw;
  position: relative;
  left: 40%;
  margin-left: calc(-50vw + 50%);
}

th {
  border-bottom: 1px solid #ddd;
}

tr:nth-child(2n+2) {
  background-color: #D6EEEE;
}
@font-face {
  font-family: Doto;
  src: url('/fonts/Doto-Regular.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Marauder Text;
  src: url('/fonts/Marauder-Display-Regular.ttf') format("truetype");
  font-display: swap;
}

#name {
	font-size: 1em;
	line-height: 1.5em;
  margin-left: 12.5%;
  margin-top: 25em;
  padding-bottom: 50px;
  font-family: Doto;
}

body {
  font-family: Marauder Text;
}

.home-nav-bar {
   text-align: center;
   margin-top: 30px;
}

.writing-body {
  margin: 2em auto;
  max-width: 35em;
}

.home {
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 80vh;
  gap: 8rem;
  padding: 2rem;
}

.left {
  flex: 1;
  text-align: left;
  font-family: Doto;
}

.right {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.home-image {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.bottom-nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 6rem;
  row-gap: 1rem;

  justify-content: end;
}

.bottom-nav a:nth-child(4) {
  grid-column: 1;
}

.text-gray-500 {
  color: rgba(107, 114, 128, 1);
}

@media (max-width: 900px) {
  .home {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }

  .left {
    text-align: center;
  }

  .bottom-nav {
    gap: 2rem;
  }
}

.book-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.book-title {
  font-weight: bold;
}

.book-author,
.book-date {
  font-size: 0.9rem;
}

.book-cover {
  width: 160px;
  height: 220px;
  object-fit: cover;
  border-radius: 4px;

  /* Responsive scaling */
  max-width: 100%;
}

main {
  margin-top: 2em;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#foot-this {
  position: absolute;
  margin-top: 2em;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: #f8f8f8;
}

.quotation {
  margin-left: 2em;
  text-transform:uppercase;
}

.no-bullets {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

div.indent {
  text-indent: 1em;
}

h3 {
  margin-top: 2em;
}

hr {
  height: 2px;
  color: gray;
  background-color: gray;
  border-width: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
}

.about-information {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
}

.post-date {
  display: inline-block;
  margin-bottom: 12px;
}

.ascii-symbol {
  line-height: 1;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol2 {
  line-height: 1;
  top: 28.5%;
  left: 53%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol3 {
  line-height: 1;
  top: 29%;
  left: 47.5%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol4 {
  line-height: 1;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.ascii-symbol5 {
  line-height: 1;
  top: 3.3%;
  left: 49.3%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0;
  font-size: 0.6em;
  pointer-events: none;
}

.ascii-symbol6 {
  line-height: 1;
  margin: 2;
  font-size: 1em;
  pointer-events: none;
  text-align: center;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

td, th {
  text-align: left;
  padding: 7px;
}

.table-wrap {
  width: 70vw;
  position: relative;
  left: 40%;
  margin-left: calc(-50vw + 50%);
}

th {
  border-bottom: 1px solid #ddd;
}

tr:nth-child(2n+2) {
  background-color: #D6EEEE;
}
