---
title: poetry
layout: layouts/base.njk
pagination:
  data: collections.poems
  size: 10
  alias: poems
  reverse: true
permalink: "poetry/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html"
---
<ul class="no-bullets">
  {% for poetry in collections.poetry %}
    <li>
      <a class="text-gray-500 underline" href="{{ poem.url }}">
        {{ poetry.data.title }}
      </a>
      {% if poetry.data.description %}
        <br><small>{{ poetry.data.description }}</small>
      {% endif %}
      {% if poetry.date %}
        <br><i class="post-date">{{ poetry.date | readableDate }}</i>
      {% else %}
        <br><i>No date available</i>
      {% endif %}
    </li>
  {% endfor %}
</ul>


<nav class="pagination">
  {% if pagination.previousPage %}
    <a href="{{ pagination.href.previous }}">Previous</a>
  {% endif %}

  {% for pageEntry in pagination.pages %}
    <a href="{{ pagination.hrefs[loop.index0] }}"
       class="{% if loop.index0 == pagination.pageNumber %}active{% endif %}">
      {{ loop.index }}
    </a>
  {% endfor %}

  {% if pagination.nextPage %}
    <a href="{{ pagination.href.next }}">Next</a>
  {% endif %}
</nav>
